body {
    background-color: #000;
    color: #ccc;
    font-family: monospace;
}

pre {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #000;
    color: #ccc;
}

button {
    color: #000;
}

.display-none {
    display: none;
}

.blink {
    animation: blinker 1s step-end infinite;
    /*content: '|';*/
}

.pulse {
    animation: pulse 2s infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

@keyframes pulse {
    0% {
        background-color: #ccc;
    }
    50% {
        background-color: #333;
    }
    100% {
        background-color: #ccc;
    }
}